{% extends 'layout.html' %}

{% block content %}

<h1>创建新订单</h1>

<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <form class="form-horizontal" id="profile-form" method="post" action="{{ url_for('order.create_order') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.user_email.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.user_email(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.cs_email.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.cs_email(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.solver_email.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.solver_email(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.require_time.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.require_time(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.expect_time.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.expect_time(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.title.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.title(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.expect_hour.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.expect_hour(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.grade.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.grade(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.order_price.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.order_price(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.description.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.description(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.supp_info.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.supp_info(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.extra_item.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.extra_item(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.extra_money.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.extra_money(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.log.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.log(class='form-control', style="height:150px;resize:none;") }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5 col-md-offset-2">
                    <input class="btn btn-orange" type="submit" value="提交"/>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}