{% extends 'layout.html' %}

{% from 'import/tools.html' import flashed_msg, errors %}
{% from 'import/tools.html' import error %}

{% block content %}

<h1>修改订单信息</h1>

<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <form class="form-horizontal" id="profile-form" method="post" action="{{ url_for('order.edit_order_for_cs', id=id) }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <div class="form-group">
                <div class="col-md-2 control-label">订单编号</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.id}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">用户邮箱</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.user_email}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">客服邮箱</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.cs_email}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">解题员邮箱</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.solver_email}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">创建时间</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.create_time}}</div>
                </div>
            </div>
            <div class="form-group">
                {{ form.status.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.status(class='form-control') }}
                    {{ error(form.errors['status']) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">要求时间</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.require_time}}</div>
                </div>
            </div>
            <div class="form-group">
                {{ form.expect_time.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.expect_time(class='form-control form_datetime') }}
                    {{ error(form.errors['status']) }}
                </div>
            </div>
            <div class="form-group">
                {{ form.title.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.title(class='form-control form_datetime') }}
                    {{ error(form.errors['title']) }}
                </div>
            </div>
            <div class="form-group">
                {{ form.description.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.description(class='form-control') }}
                    {{ error(form.errors['description']) }}
                </div>
            </div>
            <div class="form-group">
                {{ form.supp_info.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.supp_info() }}
                    {{ error(form.errors['supp_info']) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">原有日志</div>
                <div class="col-md-5">
                    <div class="form-control" style="height:150px;resize:none;">{{order.log}}</div>
                </div>
            </div>
            <div class="form-group">
                {{ form.log.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.log(class='form-control', style="height:150px;resize:none;") }}
                    {{ error(form.errors['log']) }}
                </div>
            </div>
            <div class="form-group">
                {{ form.grade.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.grade(class='form-control') }}
                    {{ error(form.errors['grade']) }}
                </div>
            </div>
            <div class="form-group">
                {{ form.expect_hour.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.expect_hour(class='form-control') }}
                    {{ error(form.errors['expect_hour']) }}
                </div>
            </div>
            {% if order.actual_hour %}
            <div class="form-group">
                <div class="col-md-2 control-label">实际耗时</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.actual_hour}}</div>
                </div>
            </div>
            {% else %}
            <div class="form-group">
                {{ form.actual_hour.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.actual_hour(class='form-control') }}
                    {{ error(form.errors['actual_hour']) }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-md-2 control-label">其他事项</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.extra_item}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">预计订单价格</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.expect_order_price}}</div>
                </div>
            </div>
            {% if order.actual_order_price or order.actual_order_price == 0 %}
            <div class="form-group">
                <div class="col-md-2 control-label">实际订单价格</div>
                <div class="col-md-5">
                    <div class="form-control">{{order.actual_order_price}}</div>
                </div>
            </div>
            {% else %}
            <div class="form-group">
                {{ form.actual_order_price.label(class="col-md-2 control-label") }}
                <div class="col-md-5">
                    {{ form.actual_order_price(class='form-control') }}
                    {{ error(form.errors['actual_order_price']) }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-md-5 col-md-offset-2">
                    <input class="btn btn-orange" type="submit" value="提交"/>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}