{% extends 'layout.html' %}
{% from 'import/tools.html' import errors %}
{% from 'import/tools.html' import error %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <table id="order_list_table" class="table table-striped table-bordered">
      <tr>
          <th>用户类型</th>
          <th>用户ID</th>
          <th>用户邮箱</th>
          <th>操作</th>
      </tr>
      {%for cs in cs_list%}
      <tr>
          <td>{{ cs.user_type }}</td>
          <td>{{cs.id}}</td>
          <td>{{cs.email}}</td>
          <td>          
               <a class="btn btn-warning" href="{{url_for('admin.delete_cs', id=cs.id)}}">
                删除</a>
          </td>
          <td>
              <a class="btn btn-info" href="{{url_for('admin.update_cs',id=cs.id)}}">修改</a>
          </td>
      </tr>
      {% endfor %}

      {%for solver in user_list%}
        <tr>
            <td>{{ solver.user_type }}</td>
            <td>{{solver.id}}</td>
            <td>{{solver.email}}</td>
            <td>    
                 <a class="btn btn-warning" href="{{url_for('admin.delete_solver', id=solver.id)}}">
                  删除</a>
            </td>
            <td>
                <a class="btn btn-info" href="{{url_for('admin.update_solver',id=solver.id)}}">修改</a>
            </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}