{% macro xiaoma_rule() %}
	
<pre style="padding: 10px 50px;">
<section>
<h2 style="text-align: center">小马飞奔邮寄服务用户补充协议</h2>

感谢您选择使用小马飞奔留学快寄！
在您决定使用小马飞奔留学快寄服务之前，您需要通读并同意以下留学快寄条款；
点击”同意”按钮即视为您已经通读并完全同意以下条款。


A.一般性责任，权利与免责

责任与权利的描述：
1. 小马飞奔留学快寄（以下简称【小马飞奔】）并非实际物流运输商，【小马飞奔】负责邮件的收集，归类与再分寄工作。我们对上述工作做出服务承诺，对且仅对承诺范围内的工作疏失与不足负担责任。
2. 【小马飞奔】各项服务按份计费。壹份是指 “壹份属于壹位投递者寄往壹所学校的申请材料”。
3. 【小马飞奔】原则上只接受单份质量小等于60g（不含包装）的申请材料。邮寄超过此重量限度之邮件可能造成额外费用，对此最终解释权归【小马飞奔】所有。
4. 【小马飞奔】帮助用户合并分寄纸质文件； 【小马飞奔】有权拒绝帮助用户合并分寄超出纸质文件的任何其他物品，例如，光盘，非纸质物或涉及版权争议的产品。
5. 【小马飞奔】地理投递范围为美国本土（不含Alaska, Hawaii, Guam, Puerto Rice, US Virgin Islands, 等），【小马飞奔】暂不受理超出上述范围之邮寄请求。

免责：
1. 对于由海关，国家安全机关或承运商执行的邮件开包检查而带来的任何形式后果，【小马飞奔】得以免责。
2. 【小马飞奔】对于投递人申请结果概不负责。
3. 对于不可抗力或极端气候（地震，台风等）时间及其后续影响而导致的邮件投递延误，投递失败，丢件等；小马飞奔得以免责。这种情况下【小马飞奔】会尽量协助用户安排用户的重新邮递，申诉等事宜，但是在此类情况下【小马飞奔】不再对邮寄时间以及邮件寄达做出任何形式的保证。

B. 其他细节描述

投递时间计算标准：
1）用户与收件人进行材料交接后将收到“收件回执”，【小马飞奔】各项服务的各项承诺保证从此刻起生效。
2）邮寄起始时间，追踪时间，以及最终寄达时间皆以当地时间为准。
3）对于最终寄达时间的描述：
      i.  对于全程追踪产品，以美国境内段承运商第一次上门投递的时间为准
      ii. 对于非全程追踪产品，以收件人进行查证。

时间保证：
1）【小马飞奔】郑重承诺邮件到达时间。
以【小马飞奔七日达-追踪】为例：
我们保证将邮件在七个工作日内寄达指定学校的admission office/ faculty。整个邮件耗时以用户收到“收件回执”时间为起点（周末签署以周一6:00am 记为开始），以承运商将该邮件送达至收件处为终点。【小马飞奔】不将各学校处理，归类，反馈申请材料的时间算入承诺时间之内，学校文案处理效率与【小马飞奔】无关。
2）对于具体产品所涉及的时间保证，请参考【小马飞奔】官方主页，一切信息以【小马飞奔】官方主页(xiaoma.offerduoduo.com) 发布为准。
3）在出现延误、丢件，并确认责任方为【小马飞奔】后，【小马飞奔】在48小时内通过 支付宝作出赔付，赔付到达时间取决于金融服务方。

邮件追踪：
1）根据用户选择产品类型不同，邮件追踪功能间存在差异。对于任何类型的追踪服务，【小马飞奔】仅负责将邮寄承运商记载的追踪记录呈现给用户，【小马飞奔】对于追踪记录的准确性不负责任。


退件：
1）在用户收到“收件回执”后，邮件即进入正常投递程序，从此刻开始，【小马飞奔】不接受任何退件要求。
2）由用户失误（例如：提供错误地址邮编）所导致的退件，【小马飞奔】不退款、不赔偿；【小马飞奔】不保证用户可以最终收到此类退件。
3）由于投递人邮寄违禁物品，敏感文字材料所导致的邮件扣留，没收，丢失，【小马飞奔】不退款、不赔偿、不负责相应法律责任；【小马飞奔】不保证用户可以最终收到此类退件。

丢件，责任与赔偿:
1）由物流商所致：
由于服务商不提供无商业价值文件投保，【小马飞奔】不接受任何邮件保值请求。对于因物流商失误导致的邮件丢失，小马飞奔负责与物流商沟通，并将赔偿款按丢失份数均分后，将赔偿款转交给用户，赔偿退款时间取决于物流商。同时，【小马飞奔】得以免除对相关邮件之所有保证。【小马飞奔】对由物流商导致的丢件不负责任。
2）由【小马飞奔】所致：
我们对由【小马飞奔】导致的邮件丢失作出郑重的赔偿保证。每份邮件的赔偿标准为人民币伍佰元整。对于已赔偿的文件/材料，【小马飞奔】不再承诺七工作日送达保证。
3）由收件学校所致：
由收件学校申请处理单位造成的文件丢失/部分丢失，【小马飞奔】不承担责任。

未尽事宜：
1）对于未尽事宜，解释权归小马飞奔留学快寄。
</section>
</pre>
{% endmacro %}
